.cards
    display: flex
    align-items: center
    flex-direction: column
    &-block
        display: flex
        flex-direction: row
        width: 1200px
        justify-content: flex-start
        flex-wrap: wrap
        &_card
            border: 1px solid
            width: 200px
            height: 200px
            margin: 19px
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24)
            transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1)
            &:hover
                opacity: 0.9
                box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22)
            &-top
                display: flex
                flex-direction: row
                justify-content: space-around
                height: 50px
                width: 100%
                background-color: #d5d5d5
                &_index
                    display: flex
                    justify-content: center
                    align-items: center
                    font-family: 'Montserrat', sans-serif
                    font-size: 14px
                    width: 37px
                    height: 25px
                &_name
                    margin-top: 1px
                    display: flex
                    align-items: center
                    width: 153px
                    height: 25px
                    font-family: 'Montserrat', sans-serif
                    font-size: 11px
            &-bottom
                display: flex
                justify-content: space-between
                align-items: center
                flex-direction: column
                height: 150px
                width: 100%
                background-color: #333333
                .error
                    display: flex
                    justify-content: center
                    align-items: center
                    width: 200px
                    height: 21px
                    background-color: red
                    &-text
                        font-family: 'Montserrat', sans-serif
                        font-size: 13px
                        color: #ffffff